* { margin: 0; padding: 0; }

html, body { height: 100%; }

body { font-family: Cambria, Colibri, Arial, Tahoma, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.2; }

a img, fieldset { border: none; }

a { color: #2c2c2c; text-decoration: none; }

p { line-height: 1.2; }

li { list-style: none; }

textarea, button, select, input { border: none; outline: none; font-family: Cambria, Colibri, Arial, Tahoma, sans-serif; }

button { line-height: 1; cursor: pointer; }
button::-moz-focus-inner { padding: 0; border: 0; }

table { border-spacing: 0; border-collapse: collapse; }

.wrap { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -225px; }

.wrap__in { position: relative; width: 1175px; margin: 0 auto; background: white; z-index: 10; }

.push { height: 225px; clear: both; }

.calculator { position: relative; width: 900px; margin: 50px auto 50px; -moz-box-sizing: border-box; box-sizing: border-box; padding: 20px; background: #cccccc; }

.var-item { margin-bottom: 15px; }
.var-item input { height: 20px; padding: 0 10px; }

.calculate { text-align: center; }

.calculator__result { position: absolute; top: 20px; right: 20px; width: 200px; }
